**/__pycache__
**/.DS_Store
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.env
*.env
.env.*
.venv/
env/
venv/
.idea/
.vscode/
.DS_Store
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.coverage
htmlcov/
dist/
build/
*.tar.gz
*.zip

# temp image files
tmp*
